<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{project.title}}
    </ion-title>

  </ion-navbar>

</ion-header>
<ion-content id="accounthome">


<ion-list>
  <ion-list-header>Tasks</ion-list-header>

  <ion-item  *ngFor="let t of tasks" (click)="viewTask(t)">
 	<ion-icon (click)="toggleDetails(t)" color="primary" item-right [name]="t.icon"></ion-icon>
    <h3>{{t.title}}</h3>
    <p>Status : {{t.status}}</p>
     <ion-note item-end></ion-note>
     <div *ngIf="t.showDetails">{{t.desc}}</div>
  </ion-item>




</ion-list>


</ion-content>
